@charset "UTF-8";

/* Tipografia base */
body, a, li, h1, h2, h3, p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout base */
body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
}

/* Estrutura da página */
header, nav, main, aside, footer {
    background: #e8e8e8;
    display: flex;
    margin: 3px;
}

/* HEADER */
header {
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

#logo {
    font-size: 32px;
    color: #333;
}

/* MENU DE NAVEGAÇÃO */
nav {
    flex: 1 1 200px;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 30px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #333333;
    transition: linear 0.3s;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #b90504;
}

/* BOTÕES DO MENU MOBILE */
#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
    display: none;
}

/* MAIN */
main {
    flex: 20 1 500px;
}

/* ASIDE */
aside {
    flex: 1 1 200px;
}

/* FOOTER */
footer {
    flex: 1 1 100vw;
    background-color: #333333;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin: 0 6px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li:first-child {
    justify-content: center; 
    font-weight: bold;
    font-size: 15px;
  }

.footer-col ul li {
    margin-bottom: 10px;
    color: #f6f6f6;
    font-size: 13px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #f6f6f6;
}

/* Elementos de texto no rodapé */
#logo-footer {
    font-size: 20px;
    color: #f6f6f6;
}

#logo-font {
    color: #f6f6f6;
    font-size: 11px;
}

/* LINKS */
a {
    text-decoration: none;
    color: inherit;
}

/* RESPONSIVIDADE - TELAS MENORES QUE 717px */
@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.95);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        margin: 15px 0;
    }

    main {
        order: 2;
    }

    aside {
        order: 3;
    }

    footer {
        order: 4;
    }
}